<div id="form" class="container-single-post">
  <form  class="auth-form" action="/signup" method="POST">
  <h2>Sign Up</h2>
    <label> Username</label>
      <input class="input-auth" type="text" name="username" placeholder="Your username" />
    <label> Email</label>
      <input class="input-auth" type="email" name="email" placeholder="Your email" />
    <label> Password</label>
      <input class="input-auth" type="password" name="password" placeholder="Your password" />
    <button type="submit" class="btn align-self">Sign Up</button>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>