/* CRUD post*/
.container-single-post{
    width: 100%;
    height: calc(100% - 124px);
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: #161616;
    /* background-color: red; */
}

.single-post{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    background-color: #282828;
    color: rgb(255, 255, 255);
    height: 500px;
    border-radius: 20px;
}

.form-single-post{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spoti-info-single-post{
    /* background-color: rgb(183, 115, 115); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.text-area-custom{
    width: 60%;
    resize:none;
}

.descriptive-text{
    color:white
}
.relative{
    position: relative;
}
.absolute{
    position:absolute;
}

.text-message-confirmation{
    color:white;
    background-color: rgba(255, 255, 255, 0.332);
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
.btn{
    padding: 5px 10px;
    border:none;
    border-radius: 5px;
}
.error{
    background-color: rgb(238, 101, 101);
    color: white;
}
.confirm{
    background-color: white;
}

.align-self{
    align-self: center;
}
