body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #898989;
}

h1 {
  color: 15px;
}

/* ---------- NAVBAR START */
.navbar {
  border-bottom: 2px solid #888888;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
}

.navbar li {
  line-height: 20px;
}

.to-right {
  padding: 1em;
  float: right;
  color: #898989;
  font-size: 1.15em;
}

.to-left {
  float: left;
}

.to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 1.7em;
}
/* ---------- NAVBAR END */
