    <div class="container-single-post">
        <div class="single-post edituser-container">
            <p class="edituser-username">{{userName}}</p>
            <img class="edituser-image" src="https://www.iconbolt.com/iconsets/ionicons-outline/person-circle.svg" alt="profile image">
            <a href="/{{userName}}/ {{!-- FINISH ROUTE --}} ">
                <button>Upload new image</button>
            </a>
            <p>e-mail: {{userMail}}</p>
        </div>
    </div>
    