<div class="container-single-post">
    <div class="single-post edituser-container">
        <p class="edituser-username">{{userLocals.username}}</p>
        <img class="edituser-image" src="{{userLocals.imageUrl}}"
            alt="profile image">
        <form action="/{{userLocals.username}}/edit-user" method="POST" enctype="multipart/form-data">

            <input type="file" name="profile-picture">
            <button class="btn" type="submit">Upload new image</button>
        </form>
    </div>
</div>