<h1>Hello {{userName}} </h1>
<aside>
    <img class="profile-img" src="">
    <a src="/{{userName}}/create">
        <button>Post the dayly song</button>
    </a>
</aside>
<main>
<p>loop with all the posts</p>
</main>
